.Header{
  background: palevioletred;
  padding: 10px;
  text-align: center;
  color: white;
}

.Header ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.Header ul li{
  display: inline-block;
  margin: 0 5px 10px;
}
.Header ul li a{
  color: white;
}

.Content, .About, .Contact{
  max-width: 700px;
  margin: 10px auto;
  
}
.DisplayTodos{
  width: 65%;
  float: left;
  border: 1px solid #eccccc;
  padding: 20px;
  box-sizing: border-box;
}

.AddTodo{
  width: 30%;
  float: right;
  border: 1px solid #eccccc;
  padding: 20px;
  box-sizing: border-box;
}

.Content ul{
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
}

.AddTodo button, .AddTodo input{
  width: 100%;
  box-sizing: border-box;
}

.Footer{
  background: palevioletred;
  padding: 3px;
  text-align: center;
  color: white;
}